/.project
/.settings
/openci-platform-application/.project
/openci-platform-application/.settings
/openci-platform-application/target
/openci-platform-application/.classpath
/openci-platform-applicationImpl/.project
/openci-platform-applicationImpl/.settings
/openci-platform-applicationImpl/target
/openci-platform-applicationImpl/.classpath
/openci-platform-applicationImpl/.koala
/openci-platform-conf/.project
/openci-platform-conf/.settings
/openci-platform-conf/target
/openci-platform-conf/.classpath
/openci-platform-domain/.classpath
/openci-platform-domain/.koala
/openci-platform-domain/.project
/openci-platform-domain/.settings
/openci-platform-domain/target
/openci-platform-infra/.classpath
/openci-platform-infra/.project
/openci-platform-infra/.settings
/openci-platform-infra/target
/openci-platform-web/.project
/openci-platform-web/.web.koala
/openci-platform-web/.settings
/openci-platform-web/target
/openci-platform-web/.classpath
